<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <div class="row justify-content-center align-self-center">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                (click)="showHideCreate()">Crear una Medalla</button>
      </div>
      <br>
      <div class="card-columns">
        <div class="card" *ngFor = "let medalla of medallas"
            (click)="onSelected(medalla.id)">
        <img style="cursor: pointer;" class="card-img-top" src="{{medalla.rutaImagen}}" alt="Card image cap">
            <div class="card-body">
                <h5 style="cursor: pointer;" class="card-title">{{medalla.nombre}}</h5>
                <p class="card-text">{{medalla.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Click en la imagen o en el nombre para ver el detalle.</small></p>
            </div>
        </div>
      </div>
      <br>
    </div>
    <div class="col-6">
      <div *ngIf="selectedMedalla">
        <app-medalla-detail [medallaDetail]="selectedMedalla"></app-medalla-detail>
      </div>
      <div *ngIf="showCreate">
        <app-medalla-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-medalla-create>
      </div>
    </div>
  </div>
</div>