<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="h4">Medalla</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let medalla of medallas"
            (click)="onSelected(medalla.id)">
          <td style="cursor: pointer;">
            <dd>{{medalla.id}}</dd>
          </td>
        <td>
            {{medalla.nombre}}
        </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <div *ngIf="selectedMedalla">
        <app-medalla-detail [medallaDetail]="selectedMedalla"></app-medalla-detail>
      </div>
    </div>
  </div>
</div>