h1{
    font-size: 80px;
}


#tablaDetalle{
    width:500px;
    
}
#guias_list{
    width: 500px;
    justify-content: space-around;
    float: right;
    overflow: auto;
    
}

#guiaslist{
   
    border-style: outset;
   
}

table th{
  background: #152C9D;
  color: white;
}


