<p>{{actividadId}}</p>
<p>{{guiaId}}</p>
<p>Jeje</p>
<p>{{guia.documento}}</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Crear un guia para esta actividad</h2>
            <br>
            <form name="guia" (ngSubmit)="f.form.valid && createGuia()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="guiaDocumento"><b>Documento(recuerda que tiene que ser único)</b></label>
                    <input type="number" name="guiaDocumento" class="form-control" id="guiaDocumento" [(ngModel)]="guia.documento"
                        #guiaDocumento="ngModel" [ngClass]="{ 'is-invalid': f.submitted && guiaDocumento.invalid }" required>
                    <div class="invalid-feedback">
                        <div>El documento esta vacio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="guiaName"><b>Nombre</b></label>
                    <input type="text" name="guiaNombre" class="form-control" id="guiaNombre" [(ngModel)]="guia.nombre"
                        #guiaNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && guiaNombre.invalid }" required>
                    <div class="invalid-feedback">
                        <div>El nombre del guia esta vacio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="guiaEdad"><b>Edad</b></label>
                    <input type="number" name="guiaEdad" class="form-control" id="guiaEdad" [(ngModel)]="guia.edad"
                        #guiaEdad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && guiaEdad.invalid }" required>
                    <div class="invalid-feedback">
                        <div>La edad esta vacia</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="guiaIdioma"><b>Idioma</b></label>
                    <input type="text" name="guiaIdioma" class="form-control" id="guiaIdioma" [(ngModel)]="guia.idioma"
                        #guiaIdioma="ngModel" [ngClass]="{ 'is-invalid': f.submitted && guiaIdioma.invalid }" required>
                    <div class="invalid-feedback">
                        <div>El idioma esta vacio</div>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="guiaSueldo"><b>Sueldo esperado($USD)</b></label>
                    <input type="number" name="guiaSueldo" class="form-control" id="guiaSueldo" [(ngModel)]="guia.sueldo"
                        #guiaSueldo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && guiaSueldo.invalid }" required>
                    <div class="invalid-feedback">
                        <div>El sueldo esta vacio</div>
                    </div>
                </div>
                
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary" >Crear</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>

