<h1 id="texto">Guias</h1>
<p>A continuación se muestran las guías de viajes en TripBuilder:</p>
<table class="table table-hover">
  <tr>
    <th>Nombre</th>
    <th>Documento</th>
    <th>Edad</th>
    <th>Idioma</th>
    <th>Puntuación</th>
  </tr>
  <tbody>
  <tr *ngFor="let guia of guias">
      
    <td>
      {{guia.nombre}}
    </td>

    <td>
      {{guia.documento}}
    </td>

    <td>
      {{guia.edad}}
    </td>

    <td>
      {{guia.edad}}
    </td>

    <td>
      {{guia.puntuacion}}
    </td>
   
  </tr>
  </tbody>
</table>
