
    <h1 id="texto">Lista de usuarios</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>UserName</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Edad</th>
        <th>ID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">

      <td>
        {{usuario.userName}}
      </td>

        <td>
          {{usuario.nombre}}
        </td>

        <td>
          {{usuario.documento}}
        </td>

        <td>
          {{usuario.edad}}
        </td>

        <td>
          {{usuario.id}}
        </td>

      </tr>
      </tbody>
    </table>



