.table-hover{
  width: 50%;
  margin: 10px;
}

.table tr th{
  background: #152C9D;
  color: #ffffff;
}

.table{
  font-family: 'Cabin', sans-serif;
}

h1,p{
  font-family: 'Cabin', sans-serif;
  margin: 10px;
}
