button{
  background: #152C9D;
  margin-left:15px;
}


.card{
  font-family: 'Cabin', sans-serif;
  background: #152C9D;
  color: #ffffff;
  margin: 3px;
}

.row{
  width: 80%;
  padding: 10px;
}

#calificar{
  color: #ffffff;
  background: limegreen;
}
