.body  {
    background-image: url("/assets/Beach Sunset HD.jpg");
    background-color: orangered;
}

.wrapper {
    text-align: right;
    height: 100px;
}

.btn btn-success pull-right {
    position: absolute;
    top: 80%;
}

