<p>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Entradas del usuario
    </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
<table class="table table-striped">
    <tbody>
        <tr *ngFor="let entrada of entradas">
            <td id="titulo-entrada"><b>{{entrada.titulo}}</b></td>
            <td id="fecha-entrada">{{entrada.fecha| date:'yyyy-MM-dd'}}</td>
            <td id="punt-entrada">{{entrada.puntuacion}}</td>
            <td id="contenido-entrada">{{entrada.textoContenido}}</td>
        </tr>
    </tbody>
</table>
</div>
