<div class="panel">
    <p>Transporte# {{transporteDetail.id}}<p>
    <div class="row">
      <div class="col">
        <dl>
          <dt>Costo</dt>
          <dd>{{transporteDetail.costo}}</dd>
          <dt>Destino</dt>
          <dd>{{transporteDetail.destino}}</dd>
          <dt>LatitudOrigen</dt>
          <dd>{{transporteDetail.latitudOrigen}}</dd>
          <dt>LongitudOrigen</dt>
          <dd>{{transporteDetail.longitudOrigen}}</dd>
          <dt>LatitudDestino</dt>
          <dd>{{transporteDetail.latitudDestino}}</dd>
          <dt>LongitudDestino</dt>
          <dd>{{transporteDetail.longitudDestino}}</dd>
          <dt>Dias</dt>
          <dd>{{transporteDetail.numeroDias}}</dd>
          <dt>Horas</dt>
          <dd>{{transporteDetail.numeroHoras}}</dd>
          <dt>Minutos</dt>
          <dd>{{transporteDetail.numeroMinutos}}</dd>
          <dt>Puntuacion</dt>
          <dd>{{transporteDetail.puntuacion}}</dd>
        </dl>
      </div>
    </div>
</div>