.wrapper {
    text-align: left;
    height: 80px;
}

#texto{
  color: #000;
}

p{
  color: #ffffff;
}

#texto{
  color: black;
  margin: 15px;
}

.card{
  font-family: 'Cabin', sans-serif;
  background: #152C9D;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}

.row{
  width: 80%;
  padding: 10px;
}

button{
  background: #152C9D;
  margin-left: 20px;
}

.list-group{
  background: orange;
}

.checked{
  color: gold;
}
