<body>
    <h1 id = "texto"> Transportes </h1> 
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Costo</th>
                    <th>Destino</th>
                    <th>Puntuacion</th>     
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let transporte of transportes">
                    <td>{{transporte.id}}</td>
                    <td>{{alojamiento.costo}}</td>
                    <td>{{alojamiento.destino}}</td>
                    <td>{{alojamiento.puntuacion}}</td>
                </tr>
            </tbody>
        </table>
    <app-transporte-create></app-transporte-create>
</body>
