body{
  width: 100%;
  font-family: 'Cabin', sans-serif;
}

.titulo{
   background: #152C9D;
}


h1{
    font-family: 'Cabin', sans-serif;
    color: #fff;
}

h3{
  font-family: 'Cabin', sans-serif;
}

#vuelosTag, #transportesTag, #actividadesTag, #combosTag, #guiasTag, #medallasTag, #alojamientoTag, #usuariosTag, #proveedoresTag{
    font-family: 'Cabin', sans-serif;
  font-size: 14px;

  margin: 5px;
    color: #152C9D;
}

.navbar{
  padding: 0 2px 0 2px;
}

.navbar-brand{
  background: #fff;
  color: #152C9D;
  padding: 5px;
  font-size: 25px;
}

#info{
  color: #152C9D;
  text-decoration: none;
}

#navbarSupportedContent1{
  background: #ffffff;
}

#vuelosTag:hover, #proveedoresTag:hover, #usuariosTag:hover, #transportesTag:hover, #alojamientoTag:hover, #actividadesTag:hover, #combosTag:hover, #medallasTag:hover, #guiasTag:hover{
    background: #152C9D;
  border-radius: 5px;
    color: #fff;
}

#vuelosTag:active, #proveedoresTag:active, #usuariosTag:active, #transportesTag:active, #alojamientoTag:active, #actividadesTag:active, #combosTag:active, #medallasTag:active, #guiasTag:active{
  background: orange;
  border-radius: 5px;
  color: #fff;
}


#signup-navbar-item{
  color: #152C9D;
  padding: 4px;
}

#signup-navbar-item:hover{
  color: #ffffff;
  background: #152C9D;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#signup-navbar-item:active{
  color: #ffffff;
  background: red;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#login-navbar-item{
  color: #152C9D;
  padding: 4px;
}

#login-navbar-item:hover{
  color: #ffffff;
  background: #152C9D;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#login-navbar-item:active{
  color: #ffffff;
  background: limegreen;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.container{
  width: 80%;
}

footer{
  width: 100%;
  background: #152C9D;
  color: white;
  font-family: 'Cabin', sans-serif;
  bottom: 0;
  position: relative;
}

footer ul{
  display: flex;
}

footer .row{
  align-items: center;
  margin: auto;
}

footer ul li{
  text-decoration: none;
  list-style: none;
  display: inline;
}

footer ul.social li a{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 35px;
  color: #fff;
}

footer ul.social li a:hover{
  color: orange;
}

