body{
  width: 100%;
  font-family: 'Cabin', sans-serif;
}

.titulo{
   background: #152C9D;
}


h1{
    font-family: 'Cabin', sans-serif;
    color: #fff;
}

h3{
  font-family: 'Cabin', sans-serif;
}

#vuelosTag, #transportesTag, #actividadesTag, #combosTag, #guiasTag, #medallasTag, #alojamientoTag, #usuariosTag, #proveedoresTag{
    font-family: 'Cabin', sans-serif;
  font-size: 14px;

  margin: 5px;
    color: #152C9D;
}

.navbar{
  padding: 0 2px 0 2px;
}

.navbar-brand{
  background: #fff;
  color: #152C9D;
  padding: 5px;
}

#navbarSupportedContent1{
  background: #ffffff;
}

#vuelosTag:hover, #proveedoresTag:hover, #usuariosTag:hover, #transportesTag:hover, #alojamientoTag:hover, #actividadesTag:hover, #combosTag:hover, #medallasTag:hover, #guiasTag:hover{
    background: #152C9D;
  border-radius: 5px;
    color: #fff;
}

#signup-navbar-item{
  color: #152C9D;
  padding: 4px;
}

#signup-navbar-item:hover{
  color: #ffffff;
  background: #152C9D;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#login-navbar-item{
  color: #152C9D;
  padding: 4px;
}

#login-navbar-item:hover{
  color: #ffffff;
  background: #152C9D;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.container{
  width: 80%;
}

