<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<br>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="navbar-brand" href="#"><span class="fas fa-plane-departure"></span> TripBuilder </a>
        </li>
      </ul>
      <div class="navbar-nav ml-auto flex-column">
        <div>
          <a class="navbar-text" id="info" href="#"><span class="fas fa-phone"></span> Más información <b>321 345 72 13</b></a>
        </div>
        <div class="flex-row"  *ngxPermissionsOnly="['GUEST']">
          <div class="form-inline">
            <li class="right-space"><a id="signup-navbar-item" routerLink="/registro"><span class="fa fa-user"></span>
              Registrarse &nbsp;</a></li>
            <li><a id="login-navbar-item" routerLink="/auth/login"><span class="fas fa-sign-in-alt"></span> Iniciar sesión</a></li>
          </div>
        </div>
        <div class="flex-row" *ngxPermissionsOnly="['CLIENT', 'ADMIN']">
          <div class="form-inline">
            <li><a id="logout-navbar-item" (click)="logout()" href="#"><span class="fa fa-sign-out"></span>Logout</a></li>
          </div>
        </div>
      </div>
    </div>
  </nav>
<hr>
  <nav class="navbar navbar-expand-lg navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="vuelosTag" class="nav-item nav-link" [routerLink]="['/vuelos/list']" [queryParams]="{allvuelos: 'yes'}"><span class="fas fa-plane"></span> VUELOS</a>
        </li>
        <li class="nav-item">
          <a id="proveedoresTag" class="nav-item nav-link" [routerLink]="['/proveedores/list']" [queryParams]="{allproveedores: 'yes'}"><span class="fas fa-suitcase"></span> PROVEEDORES</a>
        </li>
        <li class="nav-item active">
          <a id="usuariosTag" class="nav-item nav-link" routerLink="/usuarios/list"><span class="fas fa-users"></span> USUARIOS</a>
        </li>
        <li class="nav-item active">
          <a id="transportesTag" class="nav-item nav-link" routerLink="/transportes/list"><span class="fas fa-shuttle-van"></span> TRANSPORTES</a>
        </li>
        <li class="nav-item active">
          <a id="actividadesTag" class="nav-item nav-link" routerLink="/actividades/list"><span class="fas fa-hiking"></span> ACTIVIDADES</a>
        </li>
        <li class="nav-item active">
          <a id="combosTag" class="nav-item nav-link" routerLink="/combos/list"><span class="fas fa-box"></span> COMBOS</a>
        </li>
        <li class="nav-item active">
          <a id="medallasTag" class="nav-item nav-link" routerLink="/medallas/list"><span class="fas fa-medal"></span> MEDALLAS</a>
        </li>
        <li class="nav-item active">
          <a id="guiasTag" class="nav-item nav-link" routerLink="/guias/list"><span class="fas fa-map"></span> GUIAS</a>
        </li>
        <li class="nav-item active">
          <a id="alojamientoTag" class="nav-item nav-link" routerLink="/alojamientos/list"><span class="fas fa-hotel"></span> ALOJAMIENTOS</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/BANNER1.png" width="100%" height="400 px" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/BANNER2.png" width="100%" height="400 px" alt="Random second slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/BANNER3.png"  width="100%" height="400 px" alt="Random third slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/BANNER4.png"  width="100%" height="400 px" alt="Random fourth slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
  <div>
    <router-outlet></router-outlet>
  <br>
  <br>
</div>
<div id="map" class="map"></div>

<div class="contenido">
  <h3 class="justify-content-center"> Conoce  <span class="fas fa-plane-departure"></span> TripBuilder</h3>
  <ul class="list-unstyled list-inline social justify-content-center" id="lista">
    <li class="list-inline-item">
      <div>
      <i class="far fa-credit-card"></i>
      </div>
      <div>
        Paga en cuotas
      </div>
    </li>
    <li class="list-inline-item">
      <div>
        <i class="fas fa-user"></i>
      </div>
      <div>
        Administra tus reservas online      </div>
    </li>
    <li class="list-inline-item">
      <div>
        <i class="fas fa-shopping-bag"></i>
      </div>
      <div>
        Agrega planes a tu carrito      </div>
    </li>
    <li class="list-inline-item">
      <div>
        <i class="fas fa-trophy"></i>
      </div>
      <div>
        Califica tus viajes
      </div>
    </li>
  </ul>
</div>

</body>
<footer class="footer " id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social justify-content-center">
          <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6"><u><a href="https://uniandes.edu.co/" target="_blank"><img src="../assets/uniandes.png" alt="logo" width="9%" /></a></u>  ©TripBuilder Team 2018 All right Reversed.</p>
        <p class="h6"></p>
      </div>
    </div>
  </div>
</footer>
</html>


