<style>
    
    
</style>
<body>
<h1 id="texto">Actividades Disponibles</h1>

<table class="table">
  <thead class="thead-dark">
      
  <tr>
    <th>Nombre</th>
    <th>Puntuacion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let actividad of actividades" >


    <td>
        <a onClick="window.location.reload()" routerLink="/actividades/{{actividad.identificador}}">{{actividad.nombreActividad}}</a>
     
    </td>

    <td>
      {{actividad.puntuacion}}
    </td>
    
    
  </tr>
  </tbody>
</table>

   
    
</body>
