
.wrapper {
    text-align: right;
    height: 100px;
}

.table-hover{
  width: 50%;
  margin: 10px;
}

.table tr th{
  background: #152C9D;
  color: #ffffff;
}

.table{
  font-family: 'Cabin', sans-serif;
}

h1,p{
  font-family: 'Cabin', sans-serif;
  margin: 10px;
}

.table tr td a{
  text-decoration: none;
  color: #000;
}

button{
  background: #152C9D;
  margin-left: 25px;
  font-family: 'Cabin', sans-serif;
}
