
#texto{
  color: #000;
  padding: 20px;
}

h1{
  padding: 20px;
}

.card{
  font-family: 'Cabin', sans-serif;
  background: #152C9D;
  color: #ffffff;
  margin-left: 20px;
}

.row{
  width: 80%;
  padding: 10px;
}

button{
  background: #152C9D;
  margin-left: 20px;
}

.list-group{
  background: orange;
}

.checked{
  color: gold;
}

#calificar{
  color: #ffffff;
  background: limegreen;
}
