<body>
<h1 id="texto">Actividades</h1>
<p id="texto">A continuación se muestra una lista de las actividades disponibles en TripBuilder:</p>

    <div class="card col-md-2" style="width: 18rem;" *ngFor = "let actividad of actividades"  routerLink="/actividades/{{actividad.id}}" style="cursor: pointer;">
      <img class="card-img-top" src="{{actividad.imagen}}" alt="Card image cap" height="160px">
      <div class="card-body">
        <p class="card-text justify-content-end">{{actividad.puntuacion}} <span class="fas fa-star checked"></span>
          Precios desde ${{actividad.costo}}</p>
      </div>
    </div>

<div *ngIf="showCreate">
  <app-actividad-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-actividad-create>
</div>
<div class="row">
  <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
          (click)="showHideCreate()">Crear un Actividad</button>
</div>
</body>
