
<style>
    
    
</style>

<h1 id="texto">Actividades Disponibles</h1>
<h1 id="texto">Actividades</h1>
<p>A continuacion se muestra una lista de las actividades disponibles en TripBuilder:</p>

<table class="table">
  <thead class="thead-dark">
      
  <tr>
    <th>Nombre</th>
    <th>Puntuacion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let actividad of actividades" >


    <td>
        <a routerLink="/actividades/{{actividad.identificador}}">{{actividad.nombreActividad}}</a>
     
    </td>

    <td>
      {{actividad.puntuacion}}
    </td>
    
    
  </tr>
  </tbody>
</table>

<div *ngIf="showCreate">
  <app-actividad-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-actividad-create>
</div>

<div class="row">
  <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
          (click)="showHideCreate()">Crear un Actividad</button>
</div>

