<div class="panel panel-default">
  <div>
    <div class="border margin">
      <p class="h3 p-3">{{proveedorDetail.nombre}}</p>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="thumb">
                <img class="img-fluid" src="http://s3.amazonaws.com/zweb-s3.uploads/carp/2011/07/air-canada-logo.jpg"/>
              </div>
            </div>
          </div>
          <div *ngIf="showEdit" >
            <br>
            <div class="row justify-content-center align-self-center">
              <button class="btn btn-primary text-center" routerLink="/proveedores/{{proveedorDetail.id}}/edit">Editar</button>
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-8">
          <dl>
            <hr>
            <dt> Nombre</dt>
            <dd>{{proveedorDetail.nombre}}</dd>
            <hr>
            <dt>Usuario</dt>
            <dd>{{proveedorDetail.user}}</dd>
            <hr>
            <dt>Password</dt>
            <dd>{{proveedorDetail.password}}</dd>
            <hr>
            <dt>Puntaje</dt>
            <dd>{{proveedorDetail.puntaje}}</dd>
            <hr>
            <dt> Vuelos</dt>
            <div *ngFor = "let vuelo of proveedorDetail.vuelos">
              <dd class="caption" routerLink="/vuelos/{{vuelo.id}}">{{vuelo.numero}}</dd>
            </div>
            <hr>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row border margin">
  <p class="h3 p-3">Otros proveedores</p>
  <app-proveedor-list [proveedores]="other_proveedores"></app-proveedor-list>
</div>

