<div class="panel panel-default">
  <div>
    <div class="border margin">
      <p class="h3 p-3">{{proveedorDetail.nombre}}</p>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="img-thumbnail border-0">
                <img class="img-fluid" src='{{proveedorDetail.imagen}}' alt="{{proveedorDetail.imagen}}" />
              </div>
            </div>
          </div>
          <div *ngIf="showEdit" >
            <br>
            <div class="row justify-content-center align-self-center">
              <button class="btn btn-primary text-center" routerLink="/proveedores/{{proveedorDetail.id}}/edit">Editar</button>
              <div class="divider"></div>
              <button class="btn btn-danger text-center" (click)="deleteProveedor()"><span class="fa fa-trash"></span></button>
            </div>
            <br>
          </div>
        </div>
        <div class="col-md-8">
          <dl>
            <hr>
            <dt> Id</dt>
            <dd>{{proveedorDetail.id}}</dd>
            <hr>
            <dt> Nombre</dt>
            <dd>{{proveedorDetail.nombre}}</dd>
            <hr>
            <dt>Usuario</dt>
            <dd>{{proveedorDetail.username}}</dd>
            <hr>
            <dt>Password</dt>
            <dd>{{proveedorDetail.password}}</dd>
            <hr>
            <dt>Puntaje</dt>
            <dd>{{proveedorDetail.puntuacion}}</dd>
            <hr>
            <dt> Vuelos</dt>
            <div *ngFor = "let vuelo of proveedorDetail.servicios">
              <dd class="caption" routerLink="/vuelos/{{vuelo.id}}">{{vuelo.nombre}}</dd>
            </div>
            <hr>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row border margin">
  <p class="h3 p-3">Otros proveedores</p>
  <app-proveedor-list [proveedores]="other_proveedores"></app-proveedor-list>
</div>

