<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <br>
    <h2 class="text-center">Crear un proveedor</h2>
    <br>
    <form class="justify-content-center" name="proveedor" (ngSubmit)="f.form.valid && createProveedor()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="proveedorName"><b>Usuario</b></label>
        <input type="text" name="proveedorUser" class="form-control" id="proveedorUser" [(ngModel)]="proveedor.user"
               #proveedorUser="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorUser.invalid }" required>
        <div class="invalid-feedback">
          <div>Se requiere especificar un usuario de proveedor</div>
        </div>
      </div>
      <div class="form-group">
        <label for="proveedorName"><b>Nombre</b></label>
        <input type="text" name="proveedorName" class="form-control" id="proveedorName" [(ngModel)]="proveedor.nombre"
               #proveedorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorName.invalid }" required>
        <div class="invalid-feedback">
          <div>Se requiere especificar un nombre de proveedor</div>
        </div>
      </div>
      <div class="form-group">
        <label for="proveedorName"><b>Contraseña</b></label>
        <input type="password" name="proveedorPass" class="form-control" id="proveedorPass" [(ngModel)]="proveedor.password"
               #proveedorPass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorName.invalid }" required>
        <div class="invalid-feedback">
          <div>Se requiere especificar una contraseña para el proveedor</div>
        </div>
      </div>
      <div class="form-group">
        <label for="proveedorPun"><b>Puntaje</b></label>
        <input type="number" name="proveedorPun" class="form-control" id="proveedorPun" [(ngModel)]="proveedor.puntaje"
               #proveedorPun="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorPun.invalid }" required>
        <div class="invalid-feedback">
          <div>Se requiere especificar un puntaje para el proveedor</div>
        </div>
      </div>
      <div class="row form-inline justify-content-center align-self-center">
        <button type="submit" class="btn btn-primary">Crear</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>

