<div class="container-fluid">
    <div class="row">
        <div class="col" *ngFor = "let vuelo of vuelos">
          <td style="cursor: pointer;">
            <dd class="figure-caption" routerLink="/vuelos/{{vuelo.id}}">{{vuelo.numero}}</dd>
          </td>
            <p>Id: {{vuelo.id}}</p>
            <p>Número: {{vuelo.numero}}</p>
            <p>Costo: {{vuelo.costo}}</p>
            <p>Puntuacion: {{vuelo.puntuacion}}</p>
            <p>Latitud Origen: {{vuelo.latitudOrigen}}</p>
            <p>Longitud origen: {{vuelo.longitudOrigen}}</p>
            <p>Latitud Destino: {{vuelo.latitudDestino}}</p>
            <p>Longitud Destino: {{vuelo.longitudOrigen}}</p>
            <p>Fecha Salida: {{vuelo.fechaSalida}}</p>
            <p>Fecha Llegada: {{vuelo.fechaLlegada}}</p>
             <br>
        </div>  
    </div>
</div>
