<div class="panel">
    <p>Alojamiento# {{alojamientoDetail.id}}<p>
    <div class="row">
      <div class="col">
        <dl>
          <dt>Id</dt>
          <dd>{{alojamientoDetail.id}}</dd>
          <dt>Nombre</dt>
          <dd>{{alojamientoDetail.nombre}}</dd>
          <dt>Costo</dt>
          <dd>{{alojamientoDetail.costo}}</dd>
          <dt>Estrellas</dt>
          <dd>{{alojamientoDetail.estrellas}}</dd>
          <dt>Tipo</dt>
          <dd>{{alojamientoDetail.tipo}}</dd>
          <dt>Latitud</dt>
          <dd>{{alojamientoDetail.latitud}}</dd>
          <dt>Longitud</dt>
          <dd>{{alojamientoDetail.longitud}}</dd>
          <dt>Puntuacion</dt>
          <dd>{{alojamientoDetail.puntuacion}}</dd>
          <dt>Ubicacion</dt>
          <dd>{{alojamientoDetail.ubicacion}}</dd>
        </dl>
      </div>
    </div>
</div>