<div class="panel panel-default">
  <div>
    <div class="border margin">
      <p class="h3 p-3">{{vueloDetail.nombre}}</p>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="img-thumbnail border-0">
                <img class="img-fluid" src='{{vueloDetail.imagen}}' alt="{{vueloDetail.imagen}}" />
              </div>
            </div>
          </div>
        <div class="col-md-8">
          <dl>
            <hr>
            <dt> Nombre</dt>
            <dd>{{vueloDetail.nombre}}</dd>
            <hr>
            <dt>Usuario</dt>
            <dd>{{vueloDetail.costo}}</dd>
            <hr>
              <dt>Costo</dt>
            <dd>${{vueloDetail.costo}}</dd>
            <hr>
            <dt>Puntaje</dt>
            <dd>{{vueloDetail.puntuacion}}</dd>
            <hr>
            <dt>Destino</dt>
            <dd>{{vueloDetail.destino}}</dd>
            <hr>
            <dt>Origen</dt>
            <dd>{{vueloDetail.origen}}</dd>
            <hr>
            <dt>Duración</dt>
            <dd>{{vueloDetail.duracion}}</dd>
            <hr>
            <dt>Fechas Disponibles</dt>
            <dd>{{vueloDetail.fechasDisponibles}}</dd>
            <hr>
            <dt>Disponibilidad Fechas</dt>
            <dd>{{vueloDetail.disponibilidadFecha}}</dd>
            <hr>
            <dt>Fechas Llegada</dt>
            <dd>{{vueloDetail.fechasLlegada}}</dd>
            <hr>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="row border margin">
    <p class="h3 p-3">Otros vuelos</p>
    <app-vuelo-list [vuelos]="other_vuelos"></app-vuelo-list>
  </div>


